body {
    background-color: black;
}

#highScore {
    color: red;
    font-size: 30px;
}

#time {
    color: red;
    font-size: 30px;
    position: absolute; 
    top: 5px;
    right: 5px; 
    text-align: right;
}
#quizTitle{
    color: red;
    font-size: 30px;
}
#question {
    color: red;
    font-size: 30px;
}
#jumbo2{
    color: red;
    font-size: 20px;

}
