body {
    background-color: black;
}

#highScore {
    color: red;
    font-size: 30px;
}

#time {
    color: red;
    font-size: 30px;
    position: absolute; 
    top: 5px;
    right: 5px; 
    text-align: right;
}
